In [8]:
# Import packages ##
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
train=pd.read_csv('/Users/bhanu/train.csv',parse_dates = ['date_time'],nrows=10000)
test=pd.read_csv('/Users/bhanu/test.csv',nrows=10000)

In [7]:
train.head(3)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1

In [4]:
test.head(3)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699

In [5]:
## Missing value replacement -- just replace it by zero
train.fillna(0, inplace=True)
test.fillna(0, inplace=True)

In [9]:
feature = ['site_name','posa_continent','user_location_country','user_location_region','user_location_city',
           'srch_adults_cnt','srch_destination_id']
RFclf = RandomForestClassifier(n_estimators=50,max_features=3,max_depth=10, random_state=0).fit(train[feature], 
                                                                                                train['hotel_cluster'])

In [15]:
test_features=['site_name','posa_continent','user_location_country','user_location_region','user_location_city',
           'srch_adults_cnt','srch_destination_id']
pred_values=RFclf.predict_proba(test[test_features])
pred_values

array([[  2.22312565e-02,   7.73521314e-03,   3.61077566e-03, ...,
          5.81674797e-03,   6.00746081e-03,   7.01530205e-03],
       [  1.57015885e-02,   5.20756796e-03,   4.07166523e-03, ...,
          4.94325489e-03,   6.30597774e-03,   7.53943684e-03],
       [  2.35810509e-02,   1.94695708e-02,   1.80605468e-03, ...,
          4.09219448e-03,   2.85825596e-03,   6.38563681e-03],
       ...,
       [  5.71420154e-04,   4.13252189e-03,   1.06409590e-02, ...,
          4.43348872e-03,   3.88552159e-04,   3.03018157e-02],
       [  8.88099467e-05,   1.80228748e-03,   9.32476790e-03, ...,
          3.12432817e-03,   1.17388532e-04,   8.15967176e-03],
       [  2.52873563e-04,   3.19296138e-03,   1.64844267e-02, ...,
          2.84619495e-02,   1.76581537e-03,   6.25359821e-03]])

In [17]:
train.to_csv('train_sample.csv')